# Segreti di homepage - NON va su git (vedi .gitignore). Compila i valori, poi chmod 600.
# Dopo la compilazione il docker-compose userà ${NOME} al posto dei valori in chiaro.
# in services.yaml si userà {{HOMEPAGE_VAR_...}} al posto della password
HOMEPAGE_VAR_NEXTCLOUD_PASSWORD=
HOMEPAGE_VAR_PHOTOPRISM_PASSWORD=
HOMEPAGE_VAR_NPM_PASSWORD=
HOMEPAGE_VAR_TRANSMISSION_PASSWORD=
HOMEPAGE_VAR_HOMEBRIDGE_PASSWORD=
HOMEPAGE_VAR_CROWDSEC_PASSWORD=<DA_COMPILARE>
HOMEPAGE_VAR_BESZEL_PASSWORD=

HOMEPAGE_VAR_PIHOLE_KEY=
HOMEPAGE_VAR_WATCHTOWER_KEY=
DOMAIN=
HOMEPAGE_VAR_DOMAIN=
HOMEPAGE_VAR_NEXTCLOUD_USER=
HOMEPAGE_VAR_TRANSMISSION_USER=
HOMEPAGE_VAR_NPM_USER=
HOMEPAGE_VAR_BESZEL_USER=
HOMEPAGE_VAR_GITHUB_USER=
HOMEPAGE_VAR_LINKEDIN_USER=
HOMEPAGE_VAR_PLEX_KEY=
HOMEPAGE_VAR_SPEEDTEST_KEY=
HOMEPAGE_VAR_HOMEASSISTANT_KEY=
HOMEPAGE_VAR_PORTAINER_KEY=
HOMEPAGE_VAR_UPTIMEROBOT_KEY=
